.user-page {
}

.userpage-top-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userpage-bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
