* {
    margin: 0;
}

.homepage-display {
    display: flex;
    justify-content: space-between;
}

.root-class {
    margin: 0;
    padding: 0;
    background-color: black;
}

#root {
    padding-top: 60px;
}
